.navBar {
    background-color: black !important;
    color : white !important;
    width: 94px !important;
    white-space:nowrap !important;
    /* width: 8.6em !important;   */
    overflow: hidden !important;
}
.icon-class {
    width: 50px !important;
    height : 50px !important;
}
.navLink {
    font-size: 2.5vw;
}
.sideNavBar {
    background-color:#F2F2F2 !important;
    color : white !important;
    /* width: 220px !important; */
    white-space:nowrap !important;
    width: 25em !important;
    max-width: 25rem !important;
    height : 100%;
    position: relative !important;  
}