.navBar {
    background-color: black !important;
    color : white !important;
    width: 120px !important;
    white-space:nowrap !important;
    width: 7.6em !important;  
    overflow: hidden !important;
}
.icon-class {
    width: 50px !important;
    height : 50px !important;
}
.navLink {
    font-size: 2.5vw;
}
.sideNavBar {
    background-color:aliceblue !important;
    color : white !important;
    width: 220px !important;
    white-space:nowrap !important;
    width: 20em !important;
    position: relative !important;  
}